<div class="d-flex">
  <div class="d-inline-flex p-2 flex-column">
    Donuts:
    <app-donut-list
      (selectionChange)="onDonutSelected($event)"
      (doubleClick)="onDonutDoubleClick($event)"></app-donut-list>
  </div>

  <div class="d-inline-flex p-2 flex-column button-list justify-content-center">

    <form [formGroup]="form" class="btn-block" (ngSubmit)="submit()">
      Quantity:
      <select class="form-control btn-block" formControlName="quantity">
        <option value="{{OrderQuantity.Single}}">Single</option>
        <option value="{{OrderQuantity.HalfDozen}}">1/2 Dozen</option>
        <option value="{{OrderQuantity.OneDozen}}">1 Dozen</option>
        <option value="{{OrderQuantity.TwoDozen}}">2 Dozen</option>
      </select>

      <button type="button"
              class="btn btn-block btn-secondary"
              (click)="addButtonClick()"
              [disabled]="!hasSelectedDonut()">
        Add to Order
      </button>

      <button type="button"
              class="btn btn-block"
              (click)="removeButtonClick()"
              [disabled]="selectedOrderItems.length < 1"
              [ngPlural]="selectedOrderItems.length">
        <ng-template ngPluralCase="=0">Remove Item</ng-template>
        <ng-template ngPluralCase="=1">Remove Item</ng-template>
        <ng-template ngPluralCase="other">Remove Items</ng-template>
      </button>

      Name:
      <input type="text" class="form-control btn-block" formControlName="name" />

      <button type="submit"
              class="btn btn-block btn-primary"
              (click)="submit()"
              [disabled]="!isValid()">
        Place Order
      </button>

      <button type="button"
              class="btn btn-block btn-danger"
              (click)="cancelClick()">
        Cancel
      </button>
    </form>

  </div>

  <div class="d-inline-flex p-2 flex-column">
    Items:
    <app-order-item-list
      (selectionChange)="onOrderItemSelectionChange($event)"
      (itemsChange)="onOrderItemsChange($event)"></app-order-item-list>
  </div>
</div>