<div class="d-flex">
  <div class="d-inline-flex p-2 flex-column">
    Pending Orders:
    <app-order-list (selectionChange)="onSelectionChanged($event)"></app-order-list>
  </div>

  <div class="d-inline-flex p-2 flex-column button-list justify-content-center">

    <button class="btn btn-block btn-primary" (click)="orderButtonClick()">Order Now</button>

    <button class="btn btn-block"
            (click)="markOrderReadyButtonClick()"
            [disabled]="disableMarkReadyButton()"
            [ngPlural]="selectedOrders.length">
      <ng-template ngPluralCase="=0">Mark Order Ready</ng-template>
      <ng-template ngPluralCase="=1">Mark Order Ready</ng-template>
      <ng-template ngPluralCase="other">Mark Orders Ready</ng-template>
    </button>

    <button class="btn btn-block"
            (click)="orderPickedUpButtonClick()"
            [disabled]="disablePickUpButton()"
            [ngPlural]="selectedOrders.length">
      <ng-template ngPluralCase="=0">Order Picked Up</ng-template>
      <ng-template ngPluralCase="=1">Order Picked Up</ng-template>
      <ng-template ngPluralCase="other">Orders Picked Up</ng-template>
    </button>

    <br>

    <button class="btn btn-block"
            (click)="viewOrders()">
      View Orders
    </button>
  </div>
</div>
Current Angular Release is version {{ angularReleaseVersion }}.